body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

main {
    margin-left: 1vh;
    height: auto;
    margin-right: 1vh;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}
.wd-border-with-left-padding {
    border: 1px solid rgb(47, 51, 54);
    padding-left: 16px;
}

.wd-header {
    padding-top: 12px;
}

.wd-header > h1{
    color: white;
    font-size: 20px;
}

.wd-header > p {
    color: lightgray;
    font-size: 13px;
    padding-bottom: 12px;
}

.wd-big-ellipsis {
    color: rgb(29,161,242);
    font-size: 15px;
    vertical-align: middle;
    float: right;
    padding-right: 12px;
}

.wd-bookmarks {
    padding-top: 12px;
}

.wd-bookmarked-post {
    display: grid;
    grid-template-columns: 48px 1fr;
}

.wd-post {
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(47, 51, 54);
    max-width: 506px;
    padding-right: 16px;
    padding-left: 12px;
}
.wd-profile-picture > img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.wd-post-identifier > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    text-decoration: none;
    list-style: none;
}

.wd-post-identifier > p {
    font-size: 15px;
}

.wd-author-handle {
    color: lightgray;
}

.wd-date {
    color: lightgray;
    font-size: 13px;
}

.wd-ellipsis {
    color: rgb(110, 118, 125);
    font-size: 15px;
    float: right;
    padding-right: 12px;
}

.wd-author-handle {
    color: lightgray;
}

.wd-date {
    color: lightgray;
}

.wd-post-content {
    color: white;
    font-size: 15px;
    max-width: 506px;
}

.wd-image-link-with-text {
    padding-top: 12px;
}

.wd-image-link-image > img {
    width: 504px;
    height: 264px;
    border: 1px solid rgb(47, 51, 54);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    max-width: 100%;
}

.wd-image-link-text {
    padding: 12px;
    border: 1px solid rgb(47, 51, 54);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    max-width: 484px;
}

.wd-image-link-text > h1 {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.wd-image-link-text > p {
    color: lightgray;
    font-size: 15px;
}

.wd-post-actions > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-top: 12px;
    text-decoration: none;
    list-style: none;
}

.wd-post-actions > ul > li {
    margin-right: auto;
}

.wd-post-actions > ul > li > a {
    text-decoration: none;
    color: gray;
}

.wd-post-actions > ul > li:nth-last-child(2) > a {
    color: red;
}

.wd-action-text {
    padding-left: 12px;
    font-size: 13px;
}
